<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Koal | <%= layoutData.meta.title %></title>
	<!-- PROJECT STYLES -->
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<nav class="nav">
		<section class="layout-section">
			<div class="layout-row--grid">
				<div class="nav-logo"></div><!-- .nav-logo -->
			</div><!-- .layout-row--grid -->
		</section><!-- .layout-section -->
	</nav><!-- nav -->
	
	<%- include( partial, templateData ); %>
</body>
</html>
