<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Koal | <%= layoutData.meta.title %></title>
	<!-- PROJECT STYLES -->
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<%- include( partial, templateData ); %>
</body>
</html>
